body
{
    text-align: center;
}
.container{
  background-color: red;  
}
#app {
    background-color: aliceblue;
}

#myCarousel
{
    background-color: rgb(253, 253, 253);
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-top: 15px;
    color : white;
    font-size: 20px;
}
